DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=iniawan

JWT_SECRET_KEY=your-secret-key-min-32-chars
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:number

MINISTACK_ENDPOINT=http://localhost:4566
MINISTACK_ACCESS_KEY=test
MINISTACK_SECRET_KEY=test
MINISTACK_REGION=us-east-1
